@font-face {
    font-family: 'Rubik-Regular';
    src: url('../Fonts/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik-Light';
    src: url('../Fonts/Rubik-Light.ttf');
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../Fonts/Rubik-Bold.ttf');
}